{% load static %}

<li>
    <article class="post">
        <a href="">
        <img src="{% static "blog/images/me-coding.png" %}" alt="Coding and Music">
        <div class="post__content">
            <h3>Balancing Code and Music</h3>
            <p>Every day I dive deeper into coding and web development, but music is always there to keep me inspired. 
                Writing code feels like composing a song: both require creativity, patience, and passion.</p>
        </div>
    </a>
    </article>
</li>