{% extends 'base.html' %}
{% load static %}

{% block title %} My Blog {% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block content %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/me.jpg" %}" alt="Dario - The Author Of This Blog">
        <h2>DARIO BLOG</h2>
    </header>

    <p>Hi, I am Dario, a Full Stack Developer student, and I love to share my journey in tech and music!</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
        {% for post in posts %}
        {% include 'blog/includes/post.html' %}
        {% endfor %}
    </ul>

</section>

<section id="about">
    <h2>What I Do</h2>
    <p>My name is Dario and I am currently studying to become a Full Stack Developer. 
    I enjoy learning new technologies, building projects, and exploring the world of software development.</p>
    <p>Outside of coding, I am a drummer and a music enthusiast. Playing drums gives me rhythm and discipline, 
    which I bring into my work as a developer. My blog is where I combine these passions and share my experiences.</p>
</section>

<h1>Welcome to My Blog</h1>
{% endblock content %}

